[Unit]
Description=EduDisplej Initialization Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/edudisplej
ExecStart=/opt/edudisplej/init/edudisplej-init.sh
TimeoutStartSec=1800
StandardOutput=append:/opt/edudisplej/session.log
StandardError=append:/opt/edudisplej/session.log

[Install]
WantedBy=multi-user.target
